* {
  font-family: Arial, Helvetica, sans-serif;

  --main-yellow: #FCB43A; 
  --dark: hsl(0, 0%, 21%);
  --light: hsl(0, 0%, 98%);
}

#navTitle {
  color: var(--main-yellow) !important;
}

@media screen and (max-width: 1023px) {
  .navbar-menu .navbar-item:hover{
    color: var(--dark) !important
  }
  .navbar-link:hover{
    color: var(--dark) !important;
  }
}

.navbar-dropdown .navbar-item:hover{
  color: var(--light) !important;
}

.is-halfheight{
  height: 70vh;
}

.chat{
  overflow-y: auto;
  flex-direction: column;
  height: 70%;
}

.message{
  max-width: 70%;
}

.left{
  align-self: flex-start;
}

.right{
  align-self: flex-end;
}
